
@font-face {
    font-family: pirates;
    src: local(bttf_font), url('../fonts/Pieces%20of%20Eight.ttf') format('opentype');
}

@font-face {
    font-family: pirates2;
    src: local(bttf_font), url('../fonts/Bucanera-font-FFP.ttf') format('opentype');
}

@font-face {
    font-family: pirates3;
    src: local(bttf_font), url('../fonts/treasure.ttf') format('opentype');
}

@font-face {
    font-family: caribbean;
    src: local(bttf_font), url('../fonts/Caribbean.ttf') format('opentype');
}


.news-date {
    font-family: "Times New Roman";
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    display: block;
    width: 192px;
    margin-left: 100px;
}

#container, .site_center {
    position: relative;
    width: 1050px;
    left: 50%;
    margin-left: -525px;
}

.page_center {
    position: relative;
    text-align: center;
    z-index: 99;
}

.content_page input, .input {
    border:2px solid #456879;
    border-radius:10px;
    height: 22px;
    width: 230px;
}



input { font-size: 16px; }

.content_page h1, .h1 {
    position: relative;
    font-family: caribbean;
    font-stretch:extra-expanded;
    font-weight: lighter;
    font-size: 24px;
    margin: 0 0 0 5px;
}

.content_page label, .label {
    position: relative;
    font-family: caribbean;
    font-stretch:extra-expanded;
    font-weight: lighter;
    font-size: 14px;
    margin: 0 0 0 5px;
}

.silver_bar {
    background-image:  url(../images/tittle_bar.png);
    background-size: 50% 22px;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    padding-bottom: 55px;
    min-width: 300px;
}

.silver_bar_left {
    background-image:  url(../images/tittle_bar.png);
    background-size: 100% 22px;
    background-position: 0% 40px;
    background-repeat: no-repeat;
    padding-bottom: 55px;
    min-width: 300px;
}

.sep::before {
    content: url(../images/tittle_bar.png);
    background-size: 120% 22px;
}

.content_page h4 {
    font-family: pirates2;
    font-size: 45px;
    font-weight: lighter;
    font-stretch:extra-expanded;
}

.content_page h1::first-letter {
    font-size: 140%;
}

.skull::before {
    content: " ";
    background-image: url("../images/crossskull.png");
    background-size: 70px 70px;
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-30px;
    top:10px;
    display: inline-flex;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

.skull::after {
    content: " ";
    background-image: url("../images/crossskull.png");
    background-size: 70px 70px;
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left: 30px;
    top:10px;
    display: inline-flex;
    width: 70px;
    height: 70px;
}


.skull_large::before {
    content:url("../images/crossskull.png"); /* with class ModalCarrot ??*/
    position:relative;
    z-index:100000; /*a number that's more than the modal box*/
    left:-20px;
    top:60px;
    display: inline-flex;
    width: 140px;
}

.skull_large::after {
    content:url("../images/crossskull.png"); /* with class ModalCarrot ??*/
    position:relative;
    z-index:100000; /*a number that's more than the modal box*/
    left: 20px;
    top:60px;
    display: inline-flex;
    width: 140px;
}

.skull_news {
    font-size: 28px !important;
}
.skull_news::before {
    content:url("../images/crossskull.png"); /* with class ModalCarrot ??*/
    position:relative;
    z-index:100000; /*a number that's more than the modal box*/
    left:-50px;
    top:90px;
    display: inline-flex;
    width: 140px;
}

.skull_news::after {
    content:url("../images/crossskull.png"); /* with class ModalCarrot ??*/
    position:relative;
    z-index:100000; /*a number that's more than the modal box*/
    left: 50px;
    top:90px;
    display: inline-flex;
    width: 140px;
}

body {
 background: url(https://cdn.discordapp.com/attachments/231627355435565058/309478339997859840/resizeimage.net-output_1.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color: #000000;
 margin: 0;
    margin-top: 8px
}

.content_header {
    position: relative;
    background-image: url(../images/page_top.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:  -3px;
    height: 171px;
    z-index: 9999;
    text-align: center;
    width: 1055px;
}

.content_wrapper {
    position: relative;
    overflow: hidden;
    top: 50px;
    z-index: 8;
    height: 200%;
}

.content_page {
    position: relative;
    background-image: url(../images/page_bg.png);
    background-repeat: repeat-y;
    width: 860px;
    min-height: 670px;
    line-height: 30px;
    object-fit: fill;
    margin: 0 auto 0 auto;
    z-index: 0;
    margin-top: -100px;
    padding: 100px 10px 0 50px;
    text-align: left;
}

.conten_footer {
    position: absolute;
    background-image: url(../images/clouds_bg.png);
    background-repeat: repeat-y;
    height: 335px;
    object-fit: cover;
    z-index: 11;
    margin-left: -26px;
    width:99%;
    bottom: 0;
}

.conten_footer_about {
    position: absolute;
    background-image: url(../images/clouds_bg.png);
    background-repeat: repeat-y;
    height: 335px;
    object-fit: cover;
    z-index: 11;
    margin-left: -26px;
    width:97%;
    bottom: 0;
}

.footer_wrapper {
    position: absolute;
    width: 100%;
    background-color: #000;
    min-height: 365px;
}



.content_page h2 {
    font-family:times new roman,times,serif;
    color:#000000;
    font-weight: lighter;
}

.contentbox {
    position: relative;
    width: 385px;
    float: left;
}

.box550 {
    position: relative;
    width: 550px;
}

.center550 {
    text-align: center;
    margin:0;
    padding:0;
    left: 50%;
    margin-left: -275px;
}

.center500 {
    text-align: center;
    margin:0;
    padding:0;
    left: 50%;
    margin-left: -250px;
}

.center200 {
    text-align: center;
    margin:0;
    padding:0;
    left: 50%;
    margin-left: -150px;
}

.box400 {
    position: relative;
    width: 400px;
}

.box200 {
    position: relative;
    width: 200px;
}

.box350 {
    position: relative;
    width: 350px;
}

.box500 {
    position: relative;
    width: 500px;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: left;
}

.box600 {
    position: relative;
    width: 600px;
    text-shadow: 0 0 6px #ffffff;
    font-family: Arial,Helvetica,sans-serif;
}

.box700 {
    position: relative;
    width: 700px;
    text-shadow: 0 0 6px #ffffff;
    font-family: Arial,Helvetica,sans-serif;
}


.box300 {
    position: relative;
    width: 300px;
}

.box230 {
    position: relative;
    width: 230px;
    outline:0;
    padding:0;
    margin:0;
    font-family: Tahoma;
    font-size: 15px;
}

.center700 {
    text-align: center;
    margin:0;
    padding:0;
    left: 50%;
    margin-left: -350px;
}

.center {
    text-align: center;
    margin:0;
    padding:0;
    left: 50%;
    margin-left: -25%;
}
